# Lab Four
---

For this lab we're going to be messing around with Markdown!

Our Goals are:
- Using Markdown!

I want you to describe to me your process of converting the assignment and making it DRY. 

Please show the ability to:
- Make a header
- Make a list (ordered or unordered)
- Link the Markdown Guide from the lesson. 
- Artuculate your thought process.

In [14]:
# Lab 4 [Markdown Link]https://www.markdownguide.org/
---

The teams left in the NBA Bubble are the:

- Celtics
- Heat
- Lakers
- Nuggets
What I did to make the assignment DRY:
In assignment 5, I saw that each time there was a transaction, it was redundant in the way it was written. What I did to change that was put all of the transactions in one single line and added it up together. In order to do that I needed to type cast the list into a float.

SyntaxError: invalid syntax (<ipython-input-14-04d2ca71d5bb>, line 2)