# Lab One
---

Ok for this lab we're going to reiterate a lot of the things that we went over in class.

Our Goals are:
- Defining variables
- Using math
- Manipulating variables
- Changing data types
- Playing with lists

In [15]:
# Define 4 variables, one of each type listed: [Integer, String, Boolean, Float]. Print all 4.
 
 #integer
inventory_count= 4

#string
title= "manager"

#boolean
has_car= False

#float/double
size= 22.3

print(inventory_count)
print(title)
print(has_car)
print(size)

4
manager
False
22.3

In [16]:
# With whatever variables you'd like demonstrate the following: [Addition, Subtraction, Division, Multiplication, Modulo]. Print all 5.

num1= 10
num2= 7

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1%num2)

17
3
70
1.4285714285714286
3

In [17]:
# Using 2 variables and addition print the number 57

var1=50
var2=7

print(var1+var2)

57

In [36]:
# Change this variable to a string and print
number_into_string = 37
print(type(number_into_string))
number_into_string = str(number_into_string)
print("number_into_string", type(number_into_string))
# Change this variable to a integer and print
string_into_number = '10'
print(type(string_into_number))
string_into_number = int(string_into_number)
print("string_into_number", type(string_into_number))
# Change this variable to a float and print
string_into_float = '299.99'
print(type(string_into_float))
string_into_float = float(string_into_float)
print("string_into_float", type(string_into_float))
# Change this variable to a boolean and print
number_into_boolean = 37
print(type(number_into_boolean))
number_into_boolean = bool(number_into_boolean)
print("number_into_boolean",type(number_into_boolean))

<class 'int'>
number_into_string <class 'str'>
<class 'str'>
string_into_number <class 'int'>
<class 'str'>
string_into_float <class 'float'>
<class 'int'>
number_into_boolean <class 'bool'>

In [45]:
# Make me a list of any type


array = ["diamond", "gold", "silver", "platinum"]

print(array)
count = len(array)
print(count)

['diamond', 'gold', 'silver', 'platinum']
4